IntegrationTests/Service References/ServiceReference/SampleService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHashCodeOfFoo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHashCodeOfFooResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetHashCodeOfFooResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHashCodeOfBar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHashCodeOfBarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetHashCodeOfBarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHashCodeOfSingleton">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHashCodeOfSingletonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetHashCodeOfSingletonResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHashCodeOfTransient">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHashCodeOfTransientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetHashCodeOfTransientResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHashCodeOfSelf">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHashCodeOfSelfResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetHashCodeOfSelfResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BarEqualsFooBar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BarEqualsFooBarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BarEqualsFooBarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>