IntegrationTests/Service References/ServiceReference/SampleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SampleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:11119/SampleService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:11119/SampleService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISampleService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="ISampleService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISampleService_GetIdOfFoo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIdOfFoo" />
  </wsdl:message>
  <wsdl:message name="ISampleService_GetIdOfFoo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdOfFooResponse" />
  </wsdl:message>
  <wsdl:message name="ISampleService_GetIdOfBar_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIdOfBar" />
  </wsdl:message>
  <wsdl:message name="ISampleService_GetIdOfBar_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdOfBarResponse" />
  </wsdl:message>
  <wsdl:message name="ISampleService_GetIdOfSingleton_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIdOfSingleton" />
  </wsdl:message>
  <wsdl:message name="ISampleService_GetIdOfSingleton_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdOfSingletonResponse" />
  </wsdl:message>
  <wsdl:message name="ISampleService_GetIdOfTransient_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIdOfTransient" />
  </wsdl:message>
  <wsdl:message name="ISampleService_GetIdOfTransient_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdOfTransientResponse" />
  </wsdl:message>
  <wsdl:message name="ISampleService_GetIdOfSelf_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIdOfSelf" />
  </wsdl:message>
  <wsdl:message name="ISampleService_GetIdOfSelf_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdOfSelfResponse" />
  </wsdl:message>
  <wsdl:message name="ISampleService_BarEqualsFooBar_InputMessage">
    <wsdl:part name="parameters" element="tns:BarEqualsFooBar" />
  </wsdl:message>
  <wsdl:message name="ISampleService_BarEqualsFooBar_OutputMessage">
    <wsdl:part name="parameters" element="tns:BarEqualsFooBarResponse" />
  </wsdl:message>
  <wsdl:message name="ISampleService_ResolutionWorksForAsyncOperations_InputMessage">
    <wsdl:part name="parameters" element="tns:ResolutionWorksForAsyncOperations" />
  </wsdl:message>
  <wsdl:message name="ISampleService_ResolutionWorksForAsyncOperations_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResolutionWorksForAsyncOperationsResponse" />
  </wsdl:message>
  <wsdl:portType name="ISampleService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISampleService/GetData" message="tns:ISampleService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISampleService/GetDataResponse" message="tns:ISampleService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIdOfFoo">
      <wsdl:input wsaw:Action="http://tempuri.org/ISampleService/GetIdOfFoo" message="tns:ISampleService_GetIdOfFoo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISampleService/GetIdOfFooResponse" message="tns:ISampleService_GetIdOfFoo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIdOfBar">
      <wsdl:input wsaw:Action="http://tempuri.org/ISampleService/GetIdOfBar" message="tns:ISampleService_GetIdOfBar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISampleService/GetIdOfBarResponse" message="tns:ISampleService_GetIdOfBar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIdOfSingleton">
      <wsdl:input wsaw:Action="http://tempuri.org/ISampleService/GetIdOfSingleton" message="tns:ISampleService_GetIdOfSingleton_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISampleService/GetIdOfSingletonResponse" message="tns:ISampleService_GetIdOfSingleton_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIdOfTransient">
      <wsdl:input wsaw:Action="http://tempuri.org/ISampleService/GetIdOfTransient" message="tns:ISampleService_GetIdOfTransient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISampleService/GetIdOfTransientResponse" message="tns:ISampleService_GetIdOfTransient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIdOfSelf">
      <wsdl:input wsaw:Action="http://tempuri.org/ISampleService/GetIdOfSelf" message="tns:ISampleService_GetIdOfSelf_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISampleService/GetIdOfSelfResponse" message="tns:ISampleService_GetIdOfSelf_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BarEqualsFooBar">
      <wsdl:input wsaw:Action="http://tempuri.org/ISampleService/BarEqualsFooBar" message="tns:ISampleService_BarEqualsFooBar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISampleService/BarEqualsFooBarResponse" message="tns:ISampleService_BarEqualsFooBar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResolutionWorksForAsyncOperations">
      <wsdl:input wsaw:Action="http://tempuri.org/ISampleService/ResolutionWorksForAsyncOperations" message="tns:ISampleService_ResolutionWorksForAsyncOperations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISampleService/ResolutionWorksForAsyncOperationsResponse" message="tns:ISampleService_ResolutionWorksForAsyncOperations_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISampleService" type="tns:ISampleService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/ISampleService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIdOfFoo">
      <soap:operation soapAction="http://tempuri.org/ISampleService/GetIdOfFoo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIdOfBar">
      <soap:operation soapAction="http://tempuri.org/ISampleService/GetIdOfBar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIdOfSingleton">
      <soap:operation soapAction="http://tempuri.org/ISampleService/GetIdOfSingleton" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIdOfTransient">
      <soap:operation soapAction="http://tempuri.org/ISampleService/GetIdOfTransient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIdOfSelf">
      <soap:operation soapAction="http://tempuri.org/ISampleService/GetIdOfSelf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BarEqualsFooBar">
      <soap:operation soapAction="http://tempuri.org/ISampleService/BarEqualsFooBar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResolutionWorksForAsyncOperations">
      <soap:operation soapAction="http://tempuri.org/ISampleService/ResolutionWorksForAsyncOperations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SampleService">
    <wsdl:port name="BasicHttpBinding_ISampleService" binding="tns:BasicHttpBinding_ISampleService">
      <soap:address location="http://localhost:11119/SampleService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>